{% extends "layout.html" %}

{% block title %}
    My Stores
{% endblock %}

{% block main %}
<form action="/select_your_stores" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="store">
            <option disabled="" selected="">My Stores</option>

                {% for rows in stores %}
                <option value="{{ rows.store_id }}">{{ rows.store_id }}</option>
                {% endfor %}

        </select>
        <input type="checkbox" id="admin" name="admin" value="True">
        <label for="admin">Admin/AM/GM</label>
    </div>
    <button class="btn btn-primary" type="submit">Select</button>
</form>

{% endblock %}