deliv.*
__pycashe__
flask_session
/Users/gavinbarham/Documents/cs50x-fp/flask_session
/Users/gavinbarham/Documents/cs50x-fp/.vscode/launch.json
/Users/gavinbarham/Documents/cs50x-fp/.vscode/settings.json